<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="utf-8"/>
    <meta http-equiv="X-UA-Compatible" content="IE=edge"/>
    <meta name="viewport" content="width=device-width, initial-scale=1"/>

    <title>Baby care project</title>


    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.4.1/css/all.css">
    <!--  <link rel="stylesheet" type="text/css" href="styles.css"> -->


</head>
<body>
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Start page</a>
            <a class="btn btn-primary" href="/addform">Add baby</a>

        </div>
    </div>
</nav>
<div class="container">
    <div class="page-header">
        <h1>Babies</h1>
    </div>
    <table class="table table-striped table-bordered">
        <tr>
            <th>Name</th>
            <th>Age</th>



        </tr>



     <tr th:each="baby: ${babies}">

         <td> <a th:href="@{/baby/{id}(id=${baby.id})}"  th:text="${baby.name}" target="_self">Name</a></td>
            <td th:text="${baby.age}">Age</td>


            <td><a th:href="@{/edit/{id}(id=${baby.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
            </td>
            <td><a th:href="@{/deletebaby/{id}(id=${baby.id})}" class="btn btn-primary"><i
                    class="fas fa-user-times ml-2"></i></a></td>


        <!--       <tr th:each="feeding: ${feedings}">
              <td th:text="${feeding.feedingDate}">Date</td>
              <td th:text="${feeding.feedingTime}">Time</td>
     <td><a th:href="@{/edit/{id}(id=${baby.id})}" class="btn btn-primary"><i class="fas fa-user-edit ml-2"></i></a>
              </td>
              <td><a th:href="@{/deletebaby/{id}(id=${baby.id})}" class="btn btn-primary"><i
                      class="fas fa-user-times ml-2"></i></a></td>
        </tr>
<tr>
        <td>Name</td>
        <td>Age</td>
</tr>
        <tr th:each="baby: ${babies}">
            <td th:text="${baby.name}">Name</td>
            <td th:text="${baby.age}">Age</td>

        </tr> -->


    </table>
</div>
<footer class="footer navbar-inverse navbar-fixed-bottom">
    <div class="container">
        <div class="row">
            <div class="col-md-4"></div>
            <div class="col-md-4"><p class="text-muted">2020 Donatas Lunys</p></div>
        </div>
    </div>
</footer>


</body>
</html>