#myButton{
	background-color:#44c767;
	border-radius:1px;
	border:5px solid #18ab29;
	display:inline-block;
	cursor:pointer;
	color:#ffffff;
	font-family:Arial;
	font-size:24px;
	padding:22px 76px;
	text-decoration:none;
	text-shadow:1px 1px 0px #2f6627;
}
.myButton:hover {
	background-color:#5cbf2a;
}
.myButton:active {
	position:relative;
	top:1px;
}
.tekstas{

text-bold;
}
   